h1.on{color: red;}
h2.on{color: red;}
figure.on{color: red; transition: 0.5s;}

.Gnb{border-top:5px solid #ddd; border-bottom: 1px solid #ddd;}
.Gnb>ul{display: flex; justify-content: space-between; line-height: 50px;}
.Gnb>ul>li{position: relative;}
.Gnb li .smenu{position: absolute; top: 70px; left: 50%; transform: translateX(-50%); background: #f7f7f7; width: 150px; text-align: center; border: 4px solid #369; line-height: 35px; transition: 0.5s; opacity: 0; visibility: hidden;}
.Gnb li:hover .smenu{top: 40px; opacity: 1; visibility: visible;}

.Gnb .smenu>li~li{border-top: 1px solid #ddd;}